@font-face {
    font-family: ballon;
    src: url(../fonts/ballon.ttf);
}

.btitle {
	font-family: 'Roboto', sans-serif !important;
}

.navbar {
	z-index: 100;
	position: absolute;
    width: 100%;
}
.lite-black {
	background-color: rgba(0, 0, 0, 0.08);
}
.no-bb-1x {
	border-bottom:  none !important;
}
.cont-head {
	background-color: transparent;
}
.img1 {
	height: calc(100vh);
}
.carousel-item::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
.hidden {
	display: none;
}
.fixed {
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}
.navbar.fixed {
	background-color: #000;
	color: #fff;
}
.dropdown-menu {
	background-color: rgba(0, 0, 0, 0.5) !important;
}
.fixed .dropdown-menu {
	background-color: #111 !important;
}
.js-popup-open, .js-popup-open:hover {
	color: #fff;
}
.popup-body .button:hover {
	border-bottom: none;
}