body.locked {
  overflow: hidden;
}
body.locked.body-margin.os-windows.chrome-browser,
body.locked.body-margin.os-windows.opera-browser {
  position: relative;
}
body.locked.body-margin.os-windows.chrome-browser:before,
body.locked.body-margin.os-windows.opera-browser:before {
  width: 8px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  content: '';
  background: #F7F7F7;
}
body.pop-up-open {
  position: fixed;
  left: 0;
  right: 0;
}

.overlay {
  background: #222;
  opacity: .5;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: none;
}
.popup {
  width: 650px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 5;
  overflow: auto;
  right: -700px;
  z-index: 1000;
  transition: all .2s linear;
}
.popup.opened {
  right: 0;
  transition: all .2s linear;
}
.popup .scroll .scroll_wrap {
  padding: 50px 65px;
  padding-top: 120px;
}
.popup .select-userpic {
  position: absolute;
  top: 30px;
  left: 65px;
  width: auto;
}
.popup .select-userpic .userpic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #9d9d9d;
  color: #fff;
  line-height: 48px;
  text-align: center;
  font-size: 24px;
  margin-right: 15px;
  overflow: hidden;
}
.popup .select-userpic .userpic img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}
.popup .select-userpic .select {
  width: auto;
}
.popup .select-userpic .select label {
  font-size: 18px;
  color: #919193;
  display: block;
  float: left;
  line-height: 48px;
}
.popup .select-userpic .select label:hover {
  cursor: pointer;
}
.popup .select-userpic .select input {
  display: none;
}
.popup-head {
  position: relative;
  margin-bottom: 20px;
  max-width: 340px;
}
.popup-head .title {
  font-size: 48px;
  width: auto;
  margin-bottom: 0;
  line-height: 1.3;
}
.popup-head .link {
  font-size: 18px;
  color: #3498db;
  position: absolute;
  bottom: 12px;
  right: 0;
}
.popup-head .link:hover {
  text-decoration: underline;
}
.popup-body {
  max-width: 340px;
}
.popup-body .tour-title {
  position: relative;
  min-height: 56px;
  padding-left: 70px;
  margin-bottom: 18px;
}
.popup-body .tour-title .img {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}
.popup-body .tour-title .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.popup-body .tour-title .tour-name {
  min-height: 56px;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.popup-body .subtitle {
  font-size: 16px;
  margin-bottom: 22px;
}
.popup-body .form .label {
  color: #222;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 18px;
}
.popup-body .form .input {
  height: 58px;
  border-radius: 8px;
  background: #F7F7F7;
  display: block;
  float: left;
  width: 100%;
  border: 0;
  font-size: 18px;
  color: #222;
  padding: 0 20px;
  margin-bottom: 18px;
  transition: all .2s linear;
}
.popup-body .form .input:focus {
  background: #EAEAEA;
  transition: all .2s linear;
}
.popup-body .form .input::-webkit-input-placeholder {
  color: #919193;
}
.popup-body .form .input::-moz-placeholder {
  color: #919193;
}
.popup-body .form .input:-moz-placeholder {
  color: #919193;
}
.popup-body .form .input:-ms-input-placeholder {
  color: #919193;
}
.popup-body .form .textarea {
  height: 170px;
  border-radius: 8px;
  background: #F7F7F7;
  display: block;
  float: left;
  width: 100%;
  border: 0;
  font-size: 18px;
  color: #222;
  padding: 20px;
  margin-bottom: 18px;
  resize: none;
  transition: all .2s linear;
}
.popup-body .form .textarea:focus {
  background: #EAEAEA;
  transition: all .2s linear;
}
.popup-body .form .textarea::-webkit-input-placeholder {
  color: #919193;
}
.popup-body .form .textarea::-moz-placeholder {
  color: #919193;
}
.popup-body .form .textarea:-moz-placeholder {
  color: #919193;
}
.popup-body .form .textarea:-ms-input-placeholder {
  color: #919193;
}
.popup-body .form .submit {
  /*background: #D03000;*/
  background: #3498db;
  width: 100%;
  height: 58px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  padding: 0 18px;
}
.popup-body .form .submit b {
  font-weight: 600;
}
.popup-body .form .link {
  color: #3498db;
  font-size: 18px;
  margin-top: 14px;
  display: inline-block;
}
.popup-body .form .link:hover {
  text-decoration: underline;
}
.popup-foot {
  border-top: 1px solid rgba(112, 112, 112, 0.16);
  margin-top: 22px;
  padding-top: 25px;
  max-width: 340px;
}
.popup-foot p {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}
.popup-foot .social-links .link {
  margin-right: 14px;
}
.popup .close {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: rgba(145, 145, 147, 0.47);
  position: absolute;
  top: 30px;
  right: 60px;
  transition: all .2s linear;
}
.popup .close:hover {
  cursor: pointer;
  background: #949496;
  transition: all .2s linear;
}
.popup .close:before {
  width: 16px;
  height: 16px;
  background: url(../img/close.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.popup.success-popup .popup-head .title {
  position: relative;
  padding-left: 60px;
}
.popup.success-popup .popup-head .title:before {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #2FB26B;
  position: absolute;
  left: 0;
  top: 5px;
  content: '';
}
.popup.success-popup .popup-head .title:after {
  width: 16px;
  height: 22px;
  background: url(../img/check-mark.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  left: 14px;
  top: 16px;
  content: '';
}
.popup.profile-setting .social-links {
  margin-bottom: 24px;
}
.popup.profile-setting .popup-body .form .link {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  margin-right: 16px;
  margin-top: 0;
}
.popup.profile-setting .popup-body .form .link:after {
  display: none;
}
.popup.profile-setting .popup-body .form .link.active {
  filter: none;
  position: relative;
}
.popup.profile-setting .popup-body .form .link.active:before {
  width: 9px;
  height: 9px;
  background: url(../img/soc-close.svg) center center no-repeat;
  background-size: contain;
  content: '';
  position: absolute;
  top: -4px;
  right: -6px;
}
.popup.book-now-popup .popup-body .form .textarea {
  height: 120px;
}
.popup.book-now-popup .tour-info {
  border-top: 1px solid rgba(34, 34, 34, 0.24);
  border-bottom: 1px solid rgba(34, 34, 34, 0.24);
  padding: 18px 0;
  margin: 10px 0 27px;
}
.popup.book-now-popup .tour-info .col {
  width: 50%;
}
.popup.book-now-popup .tour-info .col .label {
  font-size: 18px;
  color: rgba(34, 34, 34, 0.47);
}
.popup.book-now-popup .tour-info .col .label span {
  color: #222;
}
.popup.book-now-popup .tour-info .col .date {
  position: relative;
  padding-left: 66px;
  padding-top: 4px;
  margin: 4px 0 14px;
}
.popup.book-now-popup .tour-info .col .date .day {
  font-size: 42px;
  font-family: "Prata", serif;
  position: absolute;
  left: 0;
  top: 0;
}
.popup.book-now-popup .tour-info .col .date .month {
  font-size: 15px;
  color: #222;
  width: auto;
  margin-bottom: 2px;
}
.popup.book-now-popup .tour-info .col .date .year {
  font-size: 15px;
  font-weight: 600;
  color: #222;
  width: auto;
  clear: both;
}

.user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  /*position: absolute;*/
  /*top: 50%;*/
  /*margin-top: -24px;*/
  right: 0;
  transition: all .2s linear;
}
.user .userlink {
  width: 48px;
  height: 48px;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}
.user .userlink img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
}
.user .userlink:before {
  width: 20px;
  height: 18px;
  background: url(../img/user.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -8px;
  content: '';
  padding: 20px 10px;
  transition: all .2s linear;
}
.user .userlink:after {
  width: 20px;
  height: 18px;
  background: url(../img/user-hover.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -9px;
  content: '';
  opacity: 0;
  padding: 20px 10px;
  transition: all .2s linear;
}
.user .userlink:hover {
  background: #fff;
  transition: all .2s linear;
  cursor: pointer;
}
.user .userlink:hover * {
  cursor: pointer;
}
.user .userlink:hover:before {
  opacity: 0;
  transition: all .2s linear;
}
.user .userlink:hover:after {
  opacity: 1;
  transition: all .2s linear;
}
.user .usermenu {
  background: #2E2E2E;
  width: 190px;
  /*border-radius: 20px 0 20px 20px;*/
  /*position: absolute;*/
  right: 0;
  /*top: 100%;*/
  margin-top: 10px;
  /*padding: 20px 20px;*/
  display: none;
}
.user .usermenu ul li {
  margin-bottom: 10px;
}
.user .usermenu ul li:last-child {
  margin-bottom: 0;
}
.user .usermenu ul li a {
  color: #919193;
  font-size: 16px;
  width: 100%;
  display: block;
  float: left;
}
.user .usermenu ul li a:hover {
  color: #3498db;
}
.left {
  width: 350px;
  padding-right: 40px;
}
.left .search_btn {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  position: relative;
  margin-right: 40px;
}
.left .search_btn span {
  display: none;
}
.left .search_btn:before {
  width: 18px;
  height: 18px;
  background: url(../img/search-icon.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: '';
  transition: all .2s linear;
}
.left .search_btn:after {
  width: 18px;
  height: 18px;
  background: url(../img/search-hover.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -9px;
  content: '';
  opacity: 0;
  transition: all .2s linear;
}
.left .search_btn:hover {
  background: #fff;
  transition: all .2s linear;
  cursor: pointer;
}
.left .search_btn:hover:before {
  opacity: 0;
  transition: all .2s linear;
}
.left .search_btn:hover:after {
  opacity: 1;
  transition: all .2s linear;
}
.left .logo {
  width: 138px;
  height: 48px;
  width: auto;
  display: block;
  float: left;
}
.left .logo img {
  height: 100%;
  width: auto;
  display: block;
  float: left;
}
.center {
  width: auto;
}
.center .menu {
  width: auto;
}
.center .menu ul {
  width: auto;
}
.center .menu ul li {
  width: auto;
  margin-right: 70px;
  position: relative;
}
.center .menu ul li:last-child {
  margin-right: 0;
}
.center .menu ul li.dropdown_li > a {
  pointer-events: none;
}
.center .menu ul li a {
  font-size: 18px;
  display: block;
  float: left;
  line-height: 48px;
  width: auto;
  color: #fff;
  position: relative;
}
.center .menu ul li a span {
  transition: all .2s linear;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.center .menu ul li a:hover span {
  border-color: #fff;
  transition: all .2s linear;
}
.center .menu ul li a:before {
  width: 9px;
  height: 9px;
  position: absolute;
  content: '';
  /*background: #D03000;*/
  background: #3498db;
  left: 50%;
  margin-left: -4px;
  top: 1px;
  border-radius: 50%;
  display: none;
}
.center .menu ul li a.active:before {
  display: block;
}
.center .menu ul li .dropdown_ul {
  position: absolute;
  width: 220px;
  background: #fff;
  border-radius: 0 12px 12px 12px;
  top: 100%;
  left: 0;
  padding: 20px;
  display: none;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.center .menu ul li .dropdown_ul li {
  margin-right: 0;
  margin-bottom: 11px;
  clear: both;
}
.center .menu ul li .dropdown_ul li:last-child {
  margin-bottom: 0;
}
.center .menu ul li .dropdown_ul li a {
  font-size: 16px;
  color: #919193;
  line-height: normal;
}
.center .menu ul li .dropdown_ul li a:hover {
  color: #3498db;
}
.center .menu .mobile_content {
  display: none;
}
.right {
  width: auto;
  float: right;
}
.right .tel {
  width: auto;
  margin-right: 58px;
}
.right .tel a {
  display: block;
  line-height: 48px;
  float: left;
  color: #fff;
  font-size: 18px;
}
.right .tel a span {
  transition: all .2s linear;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
}
.right .tel a:hover span {
  border-color: #fff;
  transition: all .2s linear;
}
.right .favorites-count {
  display: block;
  float: left;
  width: auto;
}
.right .favorites-count:hover ._counter {
  background: #222;
  transition: all .2s linear;
}
.right .favorites-count ._counter {
  width: 48px;
  height: 48px;
  /*background: #D03000;*/
  background: #3498db;
  border-radius: 50%;
  font-size: 18px;
  color: #fff;
  line-height: 48px;
  text-align: center;
  transition: all .2s linear;
}
.right .favorites-count ._text {
  font-size: 18px;
  color: #fff;
  width: auto;
  line-height: 48px;
  margin-left: 13px;
}
.mobile_btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.33);
  float: right;
  display: none;
  position: relative;
  transition: all .2s linear;
}
.mobile_btn.opened {
  transform: rotate(45deg);
  transition: all .2s linear;
  transition-delay: .3s;
}
.mobile_btn.opened span:nth-child(1) {
  top: 23px;
  transition: all .2s linear;
}
.mobile_btn.opened span:nth-child(2) {
  transform: rotate(90deg);
  transition: all .3s linear;
  transition-delay: .5s;
}
.mobile_btn.opened span:nth-child(3) {
  top: 23px;
  transition: all .2s linear;
}
.mobile_btn span {
  height: 3px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  display: block;
  width: 20px;
  left: 14px;
}
.mobile_btn span:nth-child(1) {
  top: 16px;
  transition-delay: .6s;
  transition: all .4s linear;
}
.mobile_btn span:nth-child(2) {
  top: 23px;
}
.mobile_btn span:nth-child(3) {
  top: 30px;
  transition-delay: .6s;
  transition: all .4s linear;
}
.left .search_btn {
  background: #C7C7C7;
}
.currency select {
  background: #C7C7C7;
}
.center .menu ul li a {
  color: #222;
}
.center .menu ul li a:hover span {
  border-color: #222;
}
.right .tel a {
  color: #222;
}
.right .favorites-count ._text {
  color: #222;
}
.user {
  background: #AAA2A2;
}
/*----------------------------------------------------------------------------------
2.12. Media queries
-----------------------------------------------------------------------------------*/
@media screen and (min-width: 1041px) {
  .button:hover {
    background: #5db6f1 !important;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(93, 182, 241, 0.78);
    -moz-box-shadow: 0px 3px 15px 0px rgba(93, 182, 241, 0.78);
    box-shadow: 0px 3px 15px 0px rgba(93, 182, 241, 0.78);
  }
  .sidebar .search-form .btn:after {
    transition: all .2s linear;
  }
  .sidebar .search-form .btn:hover:after {
    background: #5db6f1 !important;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(93, 182, 241, 0.78);
    -moz-box-shadow: 0px 3px 15px 0px rgba(93, 182, 241, 0.78);
    box-shadow: 0px 3px 15px 0px rgba(93, 182, 241, 0.78);
    transition: all .2s linear;
  }
}
@media screen and (max-width: 1930px) {
  .main_slider .slider_wrap .slide .slide_content .title_wrap .slide_title {
    font-size: 136px;
  }
}
@media screen and (max-width: 1762px) {
  .top_panel .wrap_float {
    padding: 0 72px;
  }
  .top_panel .currency {
    left: 0;
  }
  .top_panel .user {
    right: 0;
  }
  .top_panel .left {
    width: 292px;
  }
  .top_panel .center .menu ul li {
    margin-right: 50px;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap .slide_title {
    font-size: 110px;
  }
  .main_slider .slider_wrap .slide .next_title {
    font-size: 90px;
  }
  .main_slider .slider_wrap .slide .slide_content .text {
    font-size: 20px;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap .country {
    font-size: 20px;
    top: -50px;
  }
  .main_slider .slider_wrap .slide .slide_content {
    padding-bottom: 70px;
  }
  .main_slider .arrows {
    bottom: 70px;
  }
  .top_panel .menu_wrap {
    width: 1004px;
  }
}
@media screen and (max-width: 1520px) {
  .wrap {
    max-width: 1300px;
  }
  .tour_item {
    width: 630px;
  }
  .tour_item_bottom ._title {
    font-size: 28px;
  }
  .destinations_item ._content ._title {
    font-size: 30px;
  }
  .main_slider .arrows {
    margin-right: -650px;
  }
  .search-form .destination-col {
    width: 276px;
  }
  .search-form .destination-col {
    margin-right: 45px;
  }
  .search-form .date-col {
    width: 187px;
  }
  .search-form .num-col {
    width: 165px;
  }
  .subscribe_section .subscribe_block {
    padding: 60px 100px;
  }
  .main_slider .slider_wrap .slide .slide_content .buttons {
    margin-top: 33px;
  }
  .blog_item_bottom .text {
    font-size: 18px;
  }
  .story_item ._content .country {
    font-size: 30px;
  }
  .top_panel .menu_wrap {
    width: 864px;
  }
  .popup {
    width: 570px;
  }
  .popup .scroll .scroll_wrap {
    padding-top: 100px;
  }
  .popup .close {
    top: 30px;
    right: 30px;
  }
  .search-form .btn {
    margin-top: -7px;
  }
}
@media screen and (max-width: 1400px) {
  .wrap {
    max-width: 1280px;
  }
  .tour_item {
    width: 620px;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap .slide_title {
    font-size: 100px;
  }
  .main_slider .arrows {
    margin-right: -640px;
    bottom: 50px;
  }
  .main_slider .slider_wrap .slide .next_title {
    font-size: 60px;
    top: 20px;
  }
  .main_slider .slider_wrap .slide .slide_content {
    padding-bottom: 50px;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap {
    margin-bottom: 15px;
  }
  .top_panel {
    top: 34px;
  }
  .most_popular {
    padding: 40px 0;
    padding-top: 80px;
  }
  .title {
    font-size: 42px;
  }
  .destinations,
  .search-tour,
  .stories,
  .blog,
  .subscribe_section {
    padding: 40px 0;
  }
  .instagram_posts {
    padding-top: 40px;
  }
  .top_panel .menu_wrap {
    width: 844px;
  }
  .popup .scroll .scroll_wrap {
    padding-top: 86px;
    padding-bottom: 40px;
  }
  .popup.profile-setting .scroll .scroll_wrap {
    padding-top: 100px;
  }
  .popup-body .form .input {
    height: 50px;
    font-size: 17px;
    margin-bottom: 10px;
  }
  .popup-body .form .textarea {
    font-size: 17px;
    margin-bottom: 10px;
  }
  .popup-body .form .submit {
    height: 50px;
  }
  .popup-head .title {
    font-size: 40px;
  }
  .popup-body .form .label {
    margin-bottom: 10px;
    margin-top: 8px;
  }
  .top_panel .right .tel {
    margin-right: 26px;
  }
  .top_panel .center .menu ul li {
    margin-right: 40px;
  }
}
@media screen and (max-width: 1300px) {
  .wrap {
    max-width: 1180px;
  }
  .top_panel .center .menu ul li {
    margin-right: 36px;
  }
  .top_panel .left .search_btn {
    margin-right: 28px;
  }
  .top_panel .right .favorites-count ._text {
    display: none;
  }
  .main_slider .arrows {
    margin-right: -590px;
  }
  .tour_item {
    width: 570px;
  }
  .search-form {
    padding: 40px 30px;
    height: auto;
  }
  .search-form .num-col {
    width: 146px;
  }
  .search-form .num-col.last {
    width: 170px;
  }
  .search-form .btn {
    right: 30px;
  }
  .subscribe_section .subscribe_block {
    padding: 60px 50px;
  }
  .top_panel .menu_wrap {
    width: 744px;
  }
  .load_more {
    width: 92px;
    height: 92px;
    font-size: 16px;
  }
  .search-form .btn {
    margin-top: -5px;
  }
}
@media screen and (min-width: 1201px) {
  .top_panel .menu_wrap {
    display: block !important;
  }
}
@media screen and (max-width: 1200px) {
  .top_panel {
    z-index: 3;
  }
  .top_panel .currency {
    display: none;
  }
  .top_panel .right {
    display: none;
  }
  .top_panel .user {
    display: none;
  }
  .top_panel .mobile_btn {
    display: block;
  }
  .top_panel .wrap_float {
    padding: 0;
  }
  .wrap {
    max-width: 940px;
  }
  .top_panel .center {
    display: none;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap .country {
    width: 100%;
    text-align: left;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap .country:before {
    top: 9px;
  }
  .main_slider .arrows {
    margin-right: -470px;
  }
  .main_slider .slider_wrap .slide .slide_content .next_title {
    display: none !important;
  }
  .destinations_item ._content ._title {
    margin-bottom: 5px;
  }
  .search-form .date-col:nth-child(2) {
    clear: both;
  }
  .search-form .destination-col {
    max-width: 576px;
    margin-right: 0;
    width: 100%;
    margin-bottom: 30px;
  }
  .search-form .label {
    margin-bottom: 16px;
  }
  .search-form .destination-col .label {
    margin-bottom: 16px;
  }
  .blog_item {
    width: 48%;
    margin-right: 4%;
  }
  .blog_item:nth-child(2) {
    margin-right: 0;
  }
  .blog_item:last-child {
    display: none;
  }
  .subscribe_section .subscribe_block .left {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .subscribe_section .subscribe_block ._title,
  .subscribe_section .subscribe_block ._subtitle {
    width: 100%;
  }
  .subscribe_section .subscribe_block .right {
    width: 100%;
  }
  .subscribe_section .subscribe_block .right .input_wrap {
    width: 34vw;
  }
  .instagram_posts .post {
    width: 25%;
  }
  .instagram_posts .post:last-child {
    display: none;
  }
  .footer_top .left {
    width: 100%;
  }
  .footer_top .right {
    width: 100%;
    margin-top: 30px;
  }
  .footer_top .right .contacts_info .tel {
    max-width: 300px;
  }
  .footer_bottom .right {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 14px;
  }
  .footer_bottom {
    padding-top: 50px;
  }
  .top_panel .menu_wrap {
    display: none;
    width: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 4;
  }
  .top_panel .menu_wrap .close {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.33);
    float: right;
    position: absolute;
    right: 0;
    top: 34px;
    transition: all .2s linear;
  }
  .top_panel .menu_wrap .close.opened {
    transform: rotate(45deg);
    transition: all .2s linear;
    transition-delay: .3s;
  }
  .top_panel .menu_wrap .close.opened span:nth-child(1) {
    top: 23px;
    transition: all .2s linear;
  }
  .top_panel .menu_wrap .close.opened span:nth-child(2) {
    transform: rotate(90deg);
    transition: all .3s linear;
    transition-delay: .5s;
  }
  .top_panel .menu_wrap .close.opened span:nth-child(3) {
    top: 23px;
    transition: all .2s linear;
  }
  .top_panel .menu_wrap .close span {
    height: 3px;
    border-radius: 2px;
    background: #fff;
    position: absolute;
    display: block;
    width: 20px;
    left: 14px;
  }
  .top_panel .menu_wrap .close span:nth-child(1) {
    top: 16px;
    transition: all .4s linear;
    transition-delay: .6s;
  }
  .top_panel .menu_wrap .close span:nth-child(2) {
    top: 23px;
  }
  .top_panel .menu_wrap .close span:nth-child(3) {
    top: 30px;
    transition: all .4s linear;
    transition-delay: .6s;
  }
  .top_panel .user {
    display: block;
    left: 50%;
    margin-left: -470px;
    top: 34px;
    margin-top: 0;
  }
  .top_panel .right {
    display: block;
  }
  .top_panel .right .favorites-count {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 34px;
  }
  .top_panel .right .favorites-count ._text {
    display: block;
    color: #fff;
  }
  .top_panel .right .tel {
    display: none;
  }
  .top_panel .center {
    display: block;
    width: 940px;
    left: 50%;
    position: relative;
    margin-left: -470px;
    padding-top: 112px;
    padding-bottom: 50px;
  }
  .top_panel .center .menu {
    width: 100%;
  }
  .top_panel .center .menu ul {
    width: 100%;
  }
  .top_panel .center .menu ul li {
    width: 100%;
    text-align: left;
    margin-right: 0;
  }
  .top_panel .center .menu ul li a {
    font-size: 28px;
    font-family: 'Prata', serif;
    width: 100%;
    display: block;
    float: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    line-height: 80px;
    margin-right: 0;
  }
  .top_panel .center .menu ul li a.active span {
    position: relative;
    padding-right: 20px;
  }
  .top_panel .center .menu ul li a.active span:before {
    width: 9px;
    height: 9px;
    background: #d03000;
    right: 0;
    top: 50%;
    margin-top: -4px;
    content: '';
    border-radius: 50%;
    position: absolute;
  }
  .top_panel .center .menu ul li a span {
    border-bottom: 0;
  }
  .top_panel .center .menu ul li a:hover span {
    border-bottom: 0;
    transition: none;
  }
  .top_panel .center .menu ul li.dropdown_li a.hover:before {
    background: #fff;
    transition: all .2s linear;
  }
  .top_panel .center .menu ul li.dropdown_li a.hover:after {
    background-image: url(../img/minus-2.svg);
  }
  .top_panel .center .menu ul li.dropdown_li a:before {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 50%;
    content: '';
    position: absolute;
    right: 0;
    left: auto;
    top: 50%;
    margin-top: -22px;
    transition: all .2s linear;
    display: block;
  }
  .top_panel .center .menu ul li.dropdown_li a:after {
    width: 12px;
    height: 12px;
    background: url(../img/plus-2.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -6px;
    right: 16px;
  }
  .top_panel .center .menu ul li .dropdown_ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .top_panel .center .menu ul li .dropdown_ul li a {
    border-bottom: 0;
  }
  .top_panel .center .menu ul li .dropdown_ul li a:before,
  .top_panel .center .menu ul li .dropdown_ul li a:after {
    display: none;
  }
  .top_panel .center .menu .currency_mob {
    position: relative;
    padding-left: 60px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .top_panel .center .menu .currency_mob select {
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 50%;
    background: rgba(152, 152, 152, 0.33);
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    padding: 0 8px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .top_panel .center .menu .currency_mob select:hover {
    cursor: pointer;
  }
  .top_panel .center .menu .currency_mob p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.38);
    line-height: 48px;
  }
  .top_panel .center .menu .mobile_content {
    display: block;
  }
  .top_panel .center .menu .mobile_content .tel {
    margin-bottom: 27px;
  }
  .top_panel .center .menu .mobile_content .tel a {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
  }
  .top_panel .center .menu .mobile_content .tel p {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.37);
  }
  .top_panel .center .menu .mobile_content .link {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: block;
    float: left;
    position: relative;
    margin-right: 23px;
  }
  .top_panel .center .menu .mobile_content .link:last-child {
    margin-right: 0;
  }
  .top_panel .center .menu .mobile_content .link span {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    z-index: 1;
    background: inherit;
  }
  .top_panel .center .menu .mobile_content .link span:before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .top_panel .center .menu .mobile_content .link.facebook {
    background: #33589E;
  }
  .top_panel .center .menu .mobile_content .link.facebook span:before {
    width: 13px;
    height: 25px;
    background-image: url(../img/facebook-logo.svg);
    margin-top: -13px;
    margin-left: -7px;
  }
  .top_panel .center .menu .mobile_content .link.instagram {
    background: #4c5ad1;
    /* Old browsers */
    background: -moz-linear-gradient(-45deg, #4c5ad1 0%, #ff3756 42%, #ff3e37 60%, #ffd42b 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #4c5ad1 0%, #ff3756 42%, #ff3e37 60%, #ffd42b 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #4c5ad1 0%, #ff3756 42%, #ff3e37 60%, #ffd42b 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4c5ad1', endColorstr='#ffd42b', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
  }
  .top_panel .center .menu .mobile_content .link.instagram span:before {
    width: 22px;
    height: 22px;
    background-image: url(../img/instagram-logo.svg);
    margin-top: -11px;
    margin-left: -11px;
  }
  .top_panel .center .menu .mobile_content .link.pinterest {
    background: #C8232C;
  }
  .top_panel .center .menu .mobile_content .link.pinterest span:before {
    width: 20px;
    height: 24px;
    background-image: url(../img/pinterest.svg);
    margin-top: -12px;
    margin-left: -10px;
  }
  .top_panel .center .menu .mobile_content .link.twitter {
    background: #4BA0EB;
  }
  .top_panel .center .menu .mobile_content .link.twitter span:before {
    width: 26px;
    height: 20px;
    background-image: url(../img/twitter-logo.svg);
    margin-top: -10px;
    margin-left: -13px;
  }
  .top_panel .center .menu .mobile_content .link.youtube {
    background: #FF000E;
  }
  .top_panel .center .menu .mobile_content .link.youtube span:before {
    width: 23px;
    height: 16px;
    background-image: url(../img/youtube-logo.svg);
    margin-top: -8px;
    margin-left: -12px;
  }
  .top_panel .center .menu ul li .dropdown_ul {
    position: static;
    width: 100%;
    background: none;
  }
  .top_panel .center .menu ul li .dropdown_ul li a {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.38);
    font-family: 'Nunito', sans-serif;
  }
  .top_panel .center .menu ul li.dropdown_li > a {
    pointer-events: inherit;
  }
  .page .posts .tour_item {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }
  .tour_item_bottom ._info_right {
    float: left;
    margin-top: 6px;
    clear: both;
  }
  .tour_item_bottom ._title {
    font-size: 24px;
    margin-bottom: 17px;
  }
  .breadcrumbs {
    padding-top: 110px;
  }
  .top_panel.inversion .mobile_btn {
    background: #878787;
  }
  .top_panel.inversion .center .menu ul li a {
    color: #fff;
  }
  .top_panel.inversion .right .favorites-count ._text {
    color: #fff;
  }
  .top_panel.inversion .user {
    background: rgba(255, 255, 255, 0.33);
  }
  .page.static-page .left_content .description {
    font-size: 20px;
  }
  .page.static-page .left_content p:not([class]) {
    font-size: 18px;
  }
  .page.static-page .left_content .two-colums .col {
    margin-right: 0;
    width: 100%;
  }
  .page.static-page .left_content ul li,
  .page.static-page .left_content ol li {
    font-size: 18px;
  }
  .page.static-page .left_content ul li:before {
    top: 8px;
  }
  .top_panel .user .usermenu {
    right: auto;
    left: 0;
    border-radius: 0 20px 20px 20px;
  }
  .top_panel .user .userlink:hover {
    background: rgba(255, 255, 255, 0.33);
  }
  .top_panel .user .userlink:hover:before {
    opacity: 1;
  }
  .top_panel .user .userlink:hover:after {
    display: none;
  }
  .footer_top .right .contacts_info .tel a {
    font-size: 24px;
  }
  .search-form .btn {
    margin-top: 55px;
  }
  .story_item ._content .text {
    height: 52px;
  }
}
@media screen and (max-width: 1040px) {
  .destinations_item .shadow,
  .tour_item .shadow,
  .story_item .shadow,
  .blog_item_top .shadow,
  .social-links .link:after {
    display: none;
  }
  .destinations_item ._content,
  .story_item ._content {
    transform: none;
  }
  .destinations_item ._content ._info,
  .story_item ._content .text {
    opacity: 1;
  }
  .mobile:not(.ie-browser) .search-form .date-col .date_div .desctop-input {
    display: none;
  }
  .mobile:not(.ie-browser) .search-form .date-col .date_div .mobile-input {
    display: block;
    z-index: 1;
  }
  .mobile:not(.ie-browser) .ui-widget.ui-widget-content {
    display: none !important;
  }
  .mobile .main_slider .slider_wrap .slide .wrap_float {
    height: inherit;
  }
  .mobile .most_popular .wrap {
    width: 100%;
    max-width: 100%;
  }
  .mobile .most_popular .controls .arrows {
    display: none;
  }
  .mobile .most_popular .title_wrap {
    padding-left: 4%;
    padding-right: 4%;
  }
  .mobile .most_popular .section_content {
    overflow: auto;
  }
  .mobile .most_popular .section_content .tour-slider {
    white-space: nowrap;
    width: auto;
    padding-left: 4%;
  }
  .mobile .most_popular .section_content .tour-slider .tour_item {
    display: inline-block;
    float: none;
    vertical-align: top;
    white-space: normal;
    margin-bottom: 20px;
  }
  .mobile .most_popular .section_content .tour-slider .tour_item:last-child {
    margin-right: 4vw;
  }
  .mobile .stories .wrap {
    width: 100%;
    max-width: 100%;
  }
  .mobile .stories .controls .arrows {
    display: none;
  }
  .mobile .stories .title_wrap {
    padding-left: 4%;
    padding-right: 4%;
  }
  .mobile .stories .section_content {
    overflow: auto;
  }
  .mobile .stories .section_content .stries_slider {
    white-space: nowrap;
    width: auto;
    padding-left: 4%;
  }
  .mobile .stories .section_content .stries_slider .story_item {
    display: inline-block;
    float: none;
    vertical-align: top;
    white-space: normal;
    margin-bottom: 20px;
    margin-right: 23px;
  }
  .mobile .stories .section_content .stries_slider .story_item:last-child {
    margin-right: 4vw;
  }
  .safari-browser .search-form .num-col .val {
    padding-top: 10px;
  }
  .main_slider .arrows .arrow:hover {
    background: rgba(255, 255, 255, 0.42);
  }
  .main_slider .arrows .arrow:hover:before {
    opacity: 1;
  }
  .main_slider .arrows .arrow:hover:after {
    opacity: 0;
  }
  .most_popular .controls .link,
  .destinations .controls .link,
  .stories .controls .link,
  .blog .controls .link {
    color: #5db6f1;
  }
  .popup-head .link,
  .popup-body .form .link {
    text-decoration: underline;
  }
}
@media screen and (max-width: 1040px) and (orientation: landscape) {
  .main_slider,
  .main_slider .slider_wrap .slide .wrap_float {
    height: 460px !important;
  }
  .main_slider {
    position: relative;
  }
}
@media screen and (min-width: 1001px) {
  .footer_top .col ul {
    display: block !important;
  }
}
@media screen and (max-width: 1000px) {
  .wrap {
    max-width: 100%;
    width: 92%;
  }
  .main_slider .arrows {
    right: 4%;
    margin-right: 0;
  }
  .destinations_item {
    width: 300px;
  }
  .destinations .wrap {
    width: 100%;
  }
  .destinations .title_wrap {
    padding-left: 4%;
    padding-right: 4%;
  }
  .destinations .controls {
    right: 4%;
  }
  .destinations .section_content {
    overflow: auto;
  }
  .destinations .section_content .scroll {
    width: auto;
    white-space: nowrap;
    padding-left: 4%;
  }
  .destinations .section_content .scroll .destinations_item {
    width: 300px;
    display: inline-block;
    float: none;
    margin-right: 20px;
    vertical-align: top;
    margin-bottom: 20px;
  }
  .destinations .section_content .scroll .destinations_item:last-child {
    margin-right: 4vw;
  }
  .search-form .destination-col {
    max-width: 100%;
  }
  .search-form .num-col:nth-child(4) {
    clear: both;
  }
  .search-form .date-col {
    width: 50%;
    margin-right: 0;
    border-right: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
  .search-form .num-col {
    width: 50%;
    border-right: 0;
    padding-top: 30px;
  }
  .search-form .num-col.last {
    padding-left: 0;
  }
  .search-form .btn {
    position: relative;
    right: auto;
    top: auto;
    margin-top: 0;
    clear: both;
    padding-left: 70px;
    background: none;
    width: auto;
    margin-top: 40px;
    border-radius: 0;
  }
  .search-form .btn:after {
    width: 54px;
    height: 54px;
    background: #d03000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .search-form .btn:before {
    z-index: 2;
    left: 28px;
  }
  .search-form .btn span {
    display: block;
    font-size: 21px;
    color: #fff;
  }
  .blog_item_top ._title {
    font-size: 22px;
  }
  .subscribe_section .subscribe_block .right .input_wrap.select_wrap {
    width: 48%;
    margin-right: 4%;
  }
  .subscribe_section .subscribe_block .right .submit {
    padding-left: 70px;
    background: none;
    margin-left: 0;
    right: auto;
    width: auto;
    margin-top: 30px;
  }
  .subscribe_section .subscribe_block .right .submit:after {
    width: 54px;
    height: 54px;
    background: #d03000;
    border-radius: 50%;
    content: '';
    left: 0;
    top: 0;
    position: absolute;
  }
  .subscribe_section .subscribe_block .right .submit:before {
    z-index: 1;
    left: 15px;
    margin-left: 0;
    margin-top: -10px;
  }
  .subscribe_section .subscribe_block .right .submit span {
    display: block;
    font-size: 21px;
    color: #fff;
  }
  .main_slider .slider_wrap .slide.slick-active .slide_content .title_wrap {
    width: 100%;
  }
  .footer_top .col {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
    padding-right: 0;
  }
  .footer_top .col ul {
    display: none;
    padding-bottom: 16px;
  }
  .footer_top .left ._title {
    margin-bottom: 0;
    padding: 20px 0;
    font-size: 28px;
    position: relative;
  }
  .footer_top .left ._title.active:before {
    background: #fff;
    transition: all .2s linear;
  }
  .footer_top .left ._title.active:after {
    background-image: url(../img/minus-2.svg);
  }
  .footer_top .left ._title:before {
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.44);
    border-radius: 50%;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -22px;
    transition: all .2s linear;
  }
  .footer_top .left ._title:after {
    width: 12px;
    height: 12px;
    background: url(../img/plus-2.svg) center center no-repeat;
    background-size: contain;
    position: absolute;
    content: '';
    top: 50%;
    margin-top: -6px;
    right: 16px;
  }
  .footer_top .right {
    margin-top: 0;
  }
  .footer_top .right ._title {
    padding-top: 20px;
    margin-bottom: 23px;
  }
  .footer {
    padding: 30px 0;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap {
    max-width: 100%;
  }
  .search-form .num-col .buttons button {
    width: 42px;
    height: 42px;
    background: #1140de;
  }
  .search-form .num-col .buttons {
    width: 42px;
  }
  .search-form .num-col .val {
    margin-left: 16px;
    height: 100px;
  }
  .ui-widget.ui-widget-content {
    left: 50% !important;
    transform: translateX(-50%);
    border-radius: 15px;
  }
  .top_panel .center {
    width: 92%;
    left: 4%;
    margin-left: 0;
  }
  .top_panel .user {
    left: 4%;
    margin-left: 0;
  }
  .top_panel .right .favorites-count {
    left: 4%;
    margin-left: 60px;
  }
  .page .posts .tour_item {
    padding: 20px;
  }
  .tour_item_bottom {
    padding: 0 20px 20px;
  }
  .modal_search .search-tour {
    background: #0030d0;
  }
  .pagination ul {
    margin: 0 3px;
  }
}
@media screen and (max-width: 760px) {
  .main_slider .slider_wrap .slide .slide_content .title_wrap .slide_title {
    font-size: 54px;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap .country {
    font-size: 19px;
  }
  .main_slider .slider_wrap .slide .slide_content .text {
    font-size: 19px;
  }
  .most_popular .title_wrap {
    padding-right: 0;
  }
  .title {
    text-align: center;
    font-size: 32px;
  }
  .subtitle {
    text-align: center;
    font-size: 18px;
  }
  .stories .title_wrap {
    padding-right: 0;
  }
  .blog .title_wrap {
    padding-right: 0;
  }
  .most_popular .controls,
  .destinations .controls,
  .stories .controls,
  .blog .controls {
    position: relative;
    right: auto;
    width: 100%;
    text-align: center;
  }
  .most_popular .controls .link,
  .destinations .controls .link,
  .stories .controls .link,
  .blog .controls .link {
    display: inline-block;
    float: none;
    margin-right: 0;
    margin-top: 20px;
  }
  .most_popular .controls .arrows,
  .destinations .controls .arrows,
  .stories .controls .arrows,
  .blog .controls .arrows {
    width: 100%;
  }
  .most_popular .controls .arrows .arrow,
  .destinations .controls .arrows .arrow,
  .stories .controls .arrows .arrow,
  .blog .controls .arrows .arrow {
    display: inline-block;
    float: none;
  }
  .section_content {
    margin-top: 18px;
  }
  .story_item {
    margin-right: 25px;
  }
  .blog_item {
    width: 100%;
  }
  .blog_item {
    margin-bottom: 38px;
  }
  .tour_item {
    margin-right: 30px;
  }
  .instagram_posts .post {
    width: 50%;
  }
  .blog_item_top ._title {
    font-size: 25px;
  }
  .blog_item:last-child {
    display: block;
    margin-bottom: 0;
  }
  .mobile .most_popular .title_wrap,
  .mobile .stories .title_wrap {
    padding-right: 4%;
  }
  .page .posts .tour_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .page.favourites-list .page_head .select_wrap {
    clear: both;
    float: left;
    margin-top: 14px;
  }
  .popup-body .subtitle {
    text-align: left;
  }
  .description-block .title {
    text-align: left;
  }
  .pagination {
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  .main_slider .slider_wrap .slide .slide_content .title_wrap .country {
    top: -44px;
  }
  .top_panel .left {
    width: 100%;
    padding-right: 0;
    text-align: center;
  }
  .top_panel .left .search_btn {
    margin-right: 0;
    position: absolute;
    left: 0;
    top: 0;
  }
  .top_panel .mobile_btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top_panel .left .logo {
    display: inline-block;
    float: none;
  }
  .main_slider .slider_wrap .slide .slide_content .buttons .btn {
    font-size: 19px;
  }
  .main_slider .slider_wrap .slide .slide_content .buttons .link {
    margin-left: 22px;
  }
  .main_slider .arrows .arrow {
    margin-left: 0;
  }
  .main_slider .arrows .arrow.prev {
    display: none !important;
  }
  .main_slider .arrows .arrow.next {
    margin-left: 0;
  }
  .main_slider .arrows {
    width: 44px;
  }
  .main_slider .slider_wrap .slide .slide_content .buttons .btn {
    height: 44px;
    line-height: 44px;
  }
  .main_slider .slider_wrap .slide .slide_content .buttons .link {
    height: 44px;
    line-height: 44px;
  }
  .most_popular {
    padding-top: 50px;
  }
  .tour_item {
    margin-right: 0;
    margin: 0 1px;
    padding: 24px;
  }
  .tour_item_bottom {
    padding: 0 24px 24px;
  }
  .tour_item_bottom ._info_right .rating-text {
    display: none;
  }
  .tour_item_bottom ._info_right .rating-stars {
    margin-right: 0;
  }
  .tour_item_bottom ._info_right {
    clear: both;
    float: left;
    width: 100%;
  }
  .tour_item_bottom ._info_left .days {
    font-size: 18px;
  }
  .tour_item_bottom ._info_left .cost {
    font-size: 18px;
  }
  .tour_item_bottom ._title {
    margin-bottom: 13px;
  }
  .tour_item_bottom ._title {
    font-size: 25px;
  }
  .most_popular .slick-list {
    overflow: hidden;
  }
  .tour_item_top .add_bookmark {
    width: 50px;
    height: 50px;
  }
  .tour_item_top .add_bookmark .fav-overlay {
    width: 50px;
    height: 50px;
  }
  .tour_item_top .add_bookmark .is-added {
    width: 14px;
    margin-left: -7px;
  }
  .tour_item_top .add_bookmark .not-added {
    width: 14px;
    margin-left: -7px;
  }
  .most_popular {
    padding-bottom: 25px;
  }
  .destinations,
  .search-tour,
  .stories,
  .blog,
  .subscribe_section {
    padding: 25px 0;
  }
  .search-tour .wrap {
    max-width: 100%;
    width: 100%;
  }
  .search-tour .search-form {
    padding: 40px 4%;
    border-radius: 0;
  }
  .search-form .date-col .date_div_right {
    clear: both;
    margin-left: 0;
    padding-top: 0;
  }
  .search-form .date-col .day {
    line-height: 1.2;
  }
  .blog_item_top .sq_parent .sq_wrap {
    padding: 20px;
  }
  .subscribe_section .subscribe_block {
    padding: 45px 18px;
  }
  .subscribe_section .subscribe_block ._title {
    font-size: 31px;
  }
  .subscribe_section .subscribe_block .right .input_wrap.select_wrap {
    width: 100%;
    margin-right: 0;
    margin-bottom: 14px;
  }
  .subscribe_section .subscribe_block .right .input_wrap.select_wrap select {
    font-size: 18px;
  }
  .subscribe_section .subscribe_block .right .input_wrap {
    width: 100%;
  }
  .subscribe_section .subscribe_block .right .input_wrap .input {
    font-size: 18px;
  }
  .subscribe_section .subscribe_block .right {
    padding-bottom: 0;
  }
  .footer_top .left ._title {
    font-size: 24px;
  }
  .footer_top .right .contacts_info .tel {
    width: 100%;
    padding-right: 0;
  }
  .footer_top .right .contacts_info .email {
    width: 100%;
    margin-top: 17px;
  }
  .main_slider .slider_wrap .slide .slide_content {
    padding-bottom: 22px;
  }
  .main_slider .arrows {
    bottom: 22px;
  }
  .top_panel {
    top: 18px;
    height: 48px;
  }
  .modal_search .close {
    right: 4%;
    top: 18px;
  }
  .modal_search .close:hover:before {
    transform: none;
  }
  .mobile .most_popular .section_content .tour-slider .tour_item {
    width: 300px;
    margin-right: 20px;
    height: 340px;
  }
  .top_panel .user {
    top: 18px;
  }
  .top_panel .right .favorites-count {
    top: 18px;
  }
  .top_panel .menu_wrap .close {
    top: 18px;
  }
  .top_panel .center {
    padding-top: 80px;
  }
  .tour_item_top .country {
    height: 50px;
  }
  .description-block {
    padding-top: 30px;
  }
  .breadcrumbs {
    padding-top: 85px;
  }
  .page.favourites-list .page_head .select_wrap {
    width: 100%;
    max-width: 100%;
  }
  .popup {
    width: 100%;
  }
  .popup .scroll .scroll_wrap {
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 85px;
  }
  .popup .close {
    top: 20px;
    right: 20px;
  }
  .popup-head .title {
    font-size: 31px;
  }
  .popup-body .subtitle {
    text-align: left;
  }
  .popup-head {
    margin-bottom: 12px;
  }
  .popup-body .form .input {
    margin-bottom: 13px;
  }
  .popup-head,
  .popup-body,
  .popup-foot {
    max-width: 100%;
  }
  .popup .select-userpic {
    left: 18px;
    top: 20px;
  }
  .popup.success-popup .popup-head .title:before {
    width: 38px;
    height: 38px;
    top: 0;
  }
  .popup.success-popup .popup-head .title:after {
    left: 11px;
    top: 8px;
  }
  .popup.success-popup .popup-head .title {
    padding-left: 52px;
  }
  .popup {
    right: -101%;
  }
  .top_panel .user .usermenu ul li a {
    font-size: 18px;
  }
  .top_panel .user .usermenu {
    width: 220px;
  }
  .popup-head .link {
    bottom: 6px;
  }
}
@media screen and (max-width: 480px) {
  .top_panel .center .menu ul li a {
    font-size: 22px;
  }
  .top_panel .center .menu ul li a {
    line-height: 60px;
  }
  .page.static-page .left_content .description {
    font-size: 18px;
  }
  .page.static-page .left_content p:not([class]) {
    font-size: 16px;
  }
  .page.static-page .left_content ul li,
  .page.static-page .left_content ol li {
    font-size: 16px;
  }
  .page.static-page .left_content ul li:before {
    width: 6px;
    height: 6px;
  }
  .page.static-page .left_content h2,
  .page.static-page .left_content h3,
  .page.static-page .left_content h4,
  .page.static-page .left_content h5,
  .page.static-page .left_content h6 {
    margin: 20px 0 5px;
  }
  .page.static-page .page_head {
    margin-bottom: 8px;
  }
  .popup .scroll .scroll_wrap {
    padding-top: 65px;
  }
  .popup .close {
    width: 40px;
    height: 40px;
    top: 10px;
  }
  .popup .select-userpic {
    top: 10px;
  }
  .popup .select-userpic .userpic {
    width: 40px;
    height: 40px;
    line-height: 40px;
  }
  .popup .select-userpic .select label {
    line-height: 40px;
  }
  .popup .close {
    right: 18px;
  }
  .search-form .date-col .day {
    font-size: 46px;
  }
  .search-form .label {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .search-form .num-col {
    padding-top: 18px;
  }
  .search-form .destination-col .select_wrap {
    height: 50px;
  }
  .search-form .destination-col .select_wrap select {
    font-size: 19px;
  }
  .search-form .destination-col .label {
    margin-bottom: 10px;
  }
  .search-form .btn {
    margin-top: 24px;
  }
  .search-form .destination-col {
    margin-bottom: 25px;
  }
  .main_slider .slider_wrap .slide .slide_content .title_wrap .slide_title {
    font-size: 48px;
  }
  .popup.profile-setting .scroll .scroll_wrap {
    padding-top: 65px;
  }
}
@media screen and (max-width: 400px) {
  .main_slider .slider_wrap .slide .slide_content .buttons .btn {
    font-size: 16px;
    padding: 0 20px;
  }
  .main_slider .slider_wrap .slide .slide_content .buttons .link {
    font-size: 16px;
  }
  .destinations .section_content .scroll .destinations_item {
    width: 270px;
    margin-right: 13px;
    margin-bottom: 13px;
  }
  .search-form .num-col.last {
    width: 50%;
  }
  .story_item {
    margin-right: 13px;
  }
  .blog_item_top .sq_parent {
    padding-bottom: 80%;
  }
  .blog_item_top ._title {
    font-size: 21px;
  }
  .social-links .link {
    margin-right: 15px;
  }
  .footer_top .right .address {
    font-size: 17px;
  }
  .ui-widget.ui-widget-content {
    width: 296px;
  }
  .mobile .most_popular .section_content .tour-slider .tour_item {
    width: 270px;
    margin-right: 13px;
    margin-bottom: 13px;
  }
  .mobile .stories .section_content .stries_slider .story_item {
    margin-right: 13px;
    margin-bottom: 13px;
  }
  .subscribe_section .subscribe_block .right .input_wrap select {
    padding-left: 18px;
  }
  .subscribe_section .subscribe_block .right .input_wrap .input {
    padding: 0 18px;
  }
  .top_panel .center .menu .mobile_content .link {
    margin-right: 14px;
  }
  .pagination {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 358px) {
  .pagination ul li a {
    width: 44px;
    height: 44px;
    line-height: 44px;
  }
  .pagination .arrow {
    width: 44px;
    height: 44px;
  }
}
@media screen and (max-width: 340px) {
  .main_slider .slider_wrap .slide .slide_content .title_wrap .slide_title {
    font-size: 41px;
  }
  .popup.book-now-popup .tour-info .col .date .day {
    font-size: 38px;
  }
  .os-ios .popup.book-now-popup .tour-info .col .date .day {
    line-height: 1;
    margin-bottom: 0;
  }
  .popup.book-now-popup .tour-info .col .date {
    padding-left: 60px;
    padding-top: 2px;
    margin-bottom: 10px;
  }
  .os-ios .popup.book-now-popup .tour-info .col .date {
    padding-top: 0;
  }
  .popup.book-now-popup .tour-info .col .label {
    font-size: 17px;
  }
  .popup.book-now-popup .tour-info {
    margin-top: 2px;
  }
}
@media screen and (max-height: 654px) {
  .modal_search .search-tour {
    display: block;
    padding: 0;
  }
  .modal_search {
    overflow: auto;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .shadow {
    display: none !important;
  }
  .tour_item:hover,
  .destinations_item:hover,
  .story_item:hover {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
  }
  .blog_item:hover .blog_item_top {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    transition: all .2s linear;
  }
  .top_panel .currency select {
    font-size: 13px;
    padding: 0 5px;
  }
  .search-form .num-col .val {
    padding-top: 0;
  }
  .social-links .link:after {
    display: none;
  }
  .travel-list .posts .item:hover .item_left .image {
    -webkit-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.37);
    transition: all .2s linear;
  }
  .sidebar .search-form .btn {
    border-radius: 0;
  }
  .subscribe_section .subscribe_block .right .input_wrap.select_wrap:before {
    right: 28px;
  }
}